html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: white;
}
a :hover {
  text-decoration: none;
  color: white;
}

/* Main colors 

    Dark blue 
    Black
    Light blue
    Red
    Orange
    Purple
*/
html, body {
  font-family: "Roboto", sans-serif;
  background-color: #030d37;
  color: white;
  font-size: 16px;
}

header {
  font-size: 1rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-size: 32px;
  background-color: #2A2F4A;
  height: 10vh;
  min-height: 90px;
  align-items: center;
}
header h1 {
  padding: 1em 0;
  padding-left: 1em;
  overflow: hidden;
}
header h1 span {
  padding: 0.5em;
  background-color: black;
}
header .collapsable {
  padding: 1em 0;
  padding-right: 1em;
  cursor: pointer;
  z-index: 2;
}
header .collapsable .bar1, header .collapsable .bar2, header .collapsable .bar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

#on {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100vh;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  z-index: 2;
}
#on > ul > li {
  padding: 10px 0 10px 0;
}

#off {
  display: none;
}

main {
  font-size: 24px;
}

#banner {
  width: 100%;
  height: 90vh;
  min-height: 500px;
  display: flex;
}
#banner .wrapper {
  padding-top: 3em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-self: center;
  width: 100%;
}
#banner .wrapper .inner {
  padding-top: 2em;
  width: 80%;
  text-align: center;
}
#banner .wrapper .inner h1 {
  font-size: 3vw;
  padding-bottom: 0.5em;
}
#banner .wrapper .content {
  padding-top: 1em;
  display: flex;
  width: 80%;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  padding-bottom: 1em;
}
#banner .wrapper .content p {
  font-size: 1.6vw;
}
#banner .wrapper .content .started {
  display: flex;
}
#banner .wrapper .content .started .button {
  position: relative;
  display: inline-block;
  line-height: 3.5em;
  height: 3.5em;
  padding: 0 1.75em;
  padding-right: 5em;
  letter-spacing: 0.25vw;
  text-align: center;
  font-weight: 600;
  font-size: 1.5vw;
  box-shadow: inset 0 0 0 2px #ffffff;
}
#banner .wrapper .content .started .button::after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='36px' height='24px' viewBox='0 0 36 24' zoomAndPan='disable'%3E%3Cstyle%3Eline %7B stroke: %239bf1ff%3B stroke-width: 2px%3B %7D%3C/style%3E%3Cline x1='0' y1='12' x2='34' y2='12' /%3E%3Cline x1='25' y1='4' x2='34' y2='12.5' /%3E%3Cline x1='25' y1='20' x2='34' y2='11.5' /%3E%3C/svg%3E");
  opacity: 1;
  z-index: 1;
  background-position: center right;
  background-repeat: no-repeat;
  background-size: 36px 24px;
  content: "";
  display: block;
  position: absolute;
  right: 1.5em;
  top: 0;
  height: 100%;
  width: 36px;
}
#banner .wrapper .content .started .button:hover {
  box-shadow: inset 0 0 0 2px #095efa;
  color: #095efa;
}
#banner .wrapper .picture {
  background-image: url("../imgs/me.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 60vh;
}

@media (max-width: 1100px) {
  header {
    font-size: 24px;
  }

  #banner .wrapper .inner h1 {
    font-size: 32px;
  }
  #banner .wrapper .content p {
    font-size: 16px;
  }
  #banner .wrapper .content .started {
    display: flex;
  }
  #banner .wrapper .content .started .button {
    letter-spacing: 0.25em;
    font-size: 16px;
  }
}
@media (max-width: 487px) {
  header {
    font-size: 24px;
  }

  #banner .wrapper .content .started {
    display: flex;
  }
  #banner .wrapper .content .started .button {
    letter-spacing: 0.25em;
    font-size: 16px;
    padding: 0 1.75em;
    padding-right: 3em;
  }
  #banner .wrapper .content .started .button::after {
    background-size: 24px 12px;
    content: "";
    display: block;
    position: absolute;
    right: 1.5em;
    top: 0;
    height: 100%;
    width: 36px;
  }
}

/*# sourceMappingURL=style.css.map */
